
<div class="container">
<div class="jumbotron"  ng-app="rideshare" ng-controller="aboutController">
<div class='content-section'>
<h2 class='mbs'>What We Do</h2>
<p>
{{name}} is an online learning destination for existing and
aspiring developers that teaches through entertaining content.
Each course is built around a creative theme and storyline so
that it feels like you’re playing a game, not sitting in a
classroom
</p>
<p>
More than a million people around the world come to Code School
to get started with a new technology and learn by doing.
</p>
</div>

        <p>Blasting Off With Bootstrap &copy;2214.</p>
      </div>
      </div>