<div class="container">
<div class="jumbotron"  ng-app="rideshare" ng-controller="contactController">
        <h4>{{name}}</h4>
        <ul class='list-unstyled'>
          <li><i class='glyphicon glyphicon-globe'></i> Orlando, FL<li>
          <li><i class='glyphicon glyphicon-phone'></i> 1-555-blast-off<li>
          <li><i class='glyphicon glyphicon-envelope'></i> <a href='mailto:#'>blastingoff@codeschool.com</a><li>
        </ul>

        <p>Blasting Off With Bootstrap &copy;2214.</p>


  <div class='container'>
	<ul id="myTab" class="nav nav-tabs">
  <li class="active" role="presentation"><a data-toggle="tab" href="#tab1">support</a></li>
  <li role="presentation"><a data-toggle="tab" href="#tab2">live-connect</a></li>
 
  </ul>
  <div id="dfs" class="tab-content">
   <div class="tab-pane fade in active" id="home">
      <div class='row well '>
      <div class='col-md-12'>
        
      </div>
      
    </div>
   </div>
   
</div>
</div>


</div>
</div>